.App {
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  background-color: #fddb53;
}

.Title {
  padding: 10px;
  font-weight: 100;
  background-color: #fddb53;
}

.Info {
  float: left;
  width: 30%;
  height: 100vh;
}

.Info-Cards {
  height: 80% ;
  overflow: scroll;
  overflow-x: hidden;
}

.Map {
  width: 70%;
  float:right;
}

.Case-Marker {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}