.App {
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  background-color: snow;
  overflow: hidden;
}

.Info {
  float: left;
  width: 30%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.Map {
  width: 70%;
  height: 100vh;
  float:right;
}

@media only screen and (max-width: 919px) {

  .Map {
    width: 100vw;
    height: 50vh;
    float:none;
  }

  .Info {
    float: none;
    width: 100vw;
    height: 50vh;
    display: inline-block;
  }
}