.Actions {
    position: absolute;
    right: 50px;
    height: 30%;
    width: 80%;
}

.Actions button{
    width: 10%;
    height: 20px;
    font-size: 0.6em;
    margin: 20px 10px 0px 10px;
    background-color: rgba(253, 219, 83, 0.8);
    border-radius: 100px;
    padding: 0px;
}

.Actions a {
    text-decoration: none;
    color: black;
}

.Actions a:hover {
    text-decoration: none;
    color: black;
}